
html, body {
  height: 100%;
  background-color: #f2f2f2;
}


 .mdc-toolbar__title{
   font-family: Gill Sans Extrabold, sans-serif;
   font-size: large
 }
 
 .mdc-toolbar__row{
    background-color:#800080;
 }
   
 #myBtn{
   background-color:#800080;
}

#content {
  background-color:#800080;
}

.firstHeading {
  color:white;
}
#list{
    
    background-color:transparent;
}

.mdc-card{
    background-color:white;
}
.mdc-card_title{
    
    font-family: Courier, Monaco, monospace;
    color:black;
}


#bodyContent{
  color:white;
}