
html, body {
  height: 100%;
  background-color: #f2f2f2;
}

#showSearch {
    font: italic bold 12px/30px Georgia, serif;
    color:white;
}

#showMap {
font: italic bold 12px/30px Georgia, serif;
color: black;
}

#showList {
  
  font: italic bold 12px/30px Georgia, serif;
  color:white;
}

.container-fluid{
  background-color:#800080;
  
}