
html, body {
  height: 100%;
  background-color: #f2f2f2;
}

#showSearch {
    font: italic bold 12px/30px Georgia, serif;
}

#showMap {
font: italic bold 12px/30px Georgia, serif;
color: white;
}

#showList {
  
  font: italic bold 12px/30px Georgia, serif;
  color:white;
}

.navbar-header{
  background-color: blue;
  
}